@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #fafafa;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-grid-tile .mat-figure {
  align-items: flex-start !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #dedede !important;
}
